.skills__container{
    grid-template-columns: repeat(2,350px);
    column-gap: 3rem;
    justify-content: center;

}
.skills__content{
    background-color: var(--container-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 2rem 4rem;
    border-radius: 1.25rem;
    animation: identifier  linear forwards;
    animation-timeline: view();
    animation-range: entry 0%;
    
}
@keyframes identifier {
    from{
        transform: translateY(40px) scale(0.1);
        opacity: 0;
    }
    to{
        transform: translateY(0px) scale(1);
        opacity: 1;
    }
}

.skills__title{
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    text-align: center;
    margin-bottom: var(--mb-1-5);
}
.skills__box{
    display: flex;
    justify-content: center;
    column-gap: 2.5rem;
}
.skills__group{
    display: grid;
    align-items: flex-start;
    row-gap: 1rem;
}
.skills_data{
    display: flex;
    column-gap: 0.4rem;
}
.skills_data i{
    font-size: 1rem;
    color: var(--title-color);
}
.skills_name{
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    line-height: 18px;
}
.skills__level{
    font-size: var(--tiny-font-size);
}
@media screen and (max-width: 992px) {
    .skills__container{
        grid-template-columns: max-content;
        row-gap: 2rem;
    }
  }
  
  /* For medium devices */
  @media screen and (max-width: 768px) {
    .skills__container{
        grid-template-columns: repeat(1,350px);
        column-gap: 2rem;
    }
  }
  
  @media screen and (max-width: 576px) {
  }
  
  /* For small devices */
  @media screen and (max-width: 350px) {
    .skills__container{
        grid-template-columns: repeat(1,300px);
        column-gap: 2rem;
    }
  }
  
  
  
  