.work__filters{
 display: flex;
 justify-content: center;
 align-items: center;
 column-gap: 0.75rem;
 margin-bottom: var(--mb-2);
}
.work__item{
    cursor: pointer;
    color: var(--title-color);
    padding: 0.25rem 0.75rem;
    font-weight: var(--font-medium);
    border-radius: 0.5rem;
    text-transform: capitalize;
}
.work__item:hover{
    background: var(--title-color);
    color: #fff;
}   

.work__container {
    grid-template-columns: repeat(2, max-content);
    gap: 3rem;
    justify-content: center;
}

.work__card {
    position: relative;
    overflow: hidden;
    border-radius: 1rem;
    width: 295px;
    height: 100%;
    cursor: pointer;
    background-color: var(--container-color);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
}

.work__img {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    transition: transform 0.5s ease, filter 0.5s ease;
}

.work__card::before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, transparent 30%, rgb(0, 0, 0));
    opacity: 0;
    transition: opacity 0.5s ease;
    border-radius: 1rem;
}

.work__title, .work__button {
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(50px);
    opacity: 0;
    transition: 0.5s ease;
    color: #fff;
    z-index: 2;
}

.work__title {
    bottom: 70px;
    margin-bottom: var(--mb-0-5);
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
}

.work__button {
    bottom: 30px;
    background: #00c9ff;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
    text-decoration: none;
    color: #fff;
    transition: all 0.5s ease;
}



.work__button:hover {
    background: #00a3ff;

}
.work__card:hover::before {
    opacity: 1;
}

.work__card:hover .work__title,
.work__card:hover .work__button {
    transform: translateX(-50%) translateY(0);
    opacity: 1;
}
.active-work {
    background: var(--title-color);
    color: #fff;
}
@media  screen and (max-width: 992px) {
    .work__container{
        grid-template-columns: repeat(2, max-content);
    }
    .work__container {
        gap: 1.25rem;
    }
    
    .work__img{
        margin-bottom: 0.75rem;
    }
    
}
@media screen and (max-width: 768px) {
    .work__container {
        grid-template-columns: repeat( max-content);
        gap: 1.25rem;   
    }
    
    
    
}
@media screen and (max-width: 576px) {
    .work__container {
        grid-template-columns: 1fr;
        

    }       
    .work__card{
        width: 100%;
    }
    
    
}